.baloon-colums {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 40px;
    @media (max-width: 1400px) {
        padding: 48px 0;
        max-width: 959px;
    }
    @media (max-width: 1000px) {
        max-width: 704px;
    }
    @media (max-width: 768px) {
        padding: 32px 0;
    }
    @media (max-width: 758px) {
        max-width: 100%;
        padding: 32px 32px;
    }
    @media (max-width: $mobile) {
        padding: 32px 20px;
    }
    @media (max-width: $smaller-screen) {
        padding: 32px 16px;
    }
    &__title-mobile {
        display: none;
        @media (max-width: 758px) {
            display: block;
            text-align: center;
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 24px;
        }

        @media (max-width: 400px) {
            text-align: left;
        }
    }
    &__slider {
        display: none;
        align-items: center;
        height: fit-content;
        margin: 0 auto;

        @media (max-width: 758px) {
            display: flex;
            flex-direction: column;
        }

        &__main {
            width: 392px;
            height: 308px !important;
            margin-bottom: 12px;
            margin-right: 0;
            &__slider {
                width: 392px;
                height: 308px !important;
                border-radius: 20px;
            }
            @media (max-width: $mobile) {
                width: 345px;
                height: 308px !important;
                margin-bottom: 12px;
                margin-right: 0;
                &__slider {
                    width: 100%;
                    height: 308px !important;
                    border-radius: 20px;
                }
            }
            @media (max-width: $smaller-screen) {
                width: 280px;
                height: 252px !important;
                margin-bottom: 12px;
                margin-right: 0;
                &__slider {
                    width: 100%;
                    height: 252px !important;
                    border-radius: 20px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: 40px;
                @media (max-width: 1400px) {
                    border-radius: 30px;
                }
                @media (max-width: 1021px) {
                    border-radius: 20px;
                }
            }
        }

        &__gallery {
            position: relative;
            width: 392px;
            margin-left: 0;
            @media (max-width: $mobile) {
                width: 345px;
            }
            @media (max-width: $smaller-screen) {
                width: 280px;
            }
            .slick-list {
                position: relative;
                width: 560px;
                @media (max-width: 1400px) {
                    width: 421px;
                }
                @media (max-width: 1000px) {
                    width: 308px;
                }
                @media (max-width: 758px) {
                    width: 392px;
                }
                @media (max-width: $mobile) {
                    width: 345px;
                }
                @media (max-width: $smaller-screen) {
                    width: 280px;
                }
            }
            .slick-track {
                left: -144px;
                @media (max-width: 1400px) {
                    left: -108px;
                }
                @media (max-width: 1000px) {
                    left: -80px;
                }
                @media (max-width: 758px) {
                    left: 0px;
                }
            }
            .slick-arrow {
                position: absolute;
                top: calc(50% - 9px);
                z-index: 10;
                width: 22px;
                height: 18px;
                @media (max-width: 1000px) {
                    width: 17px;
                    height: 13px;
                }
            }
            .prev-arrow {
                left: -795px;
                cursor: pointer;
                @media (max-width: 1400px) {
                    left: -575px;
                }
                @media (max-width: 1027px) {
                    left: -567px;
                }
                @media (max-width: 1000px) {
                    left: -27px;
                }
                @media (max-width: $mobile) {
                    left: -20px;
                }
                @media (max-width: 375px) {
                    left: -17px;
                }
                @media (max-width: 360px) {
                    left: 0px;
                    top: 87px;
                }
                @media (max-width: $smaller-screen) {
                    left: 0px;
                    top: 68px;
                }
                
            }
            .slick-dots {
                top: 4px;
                width: 99%;
                border-radius: 30px;
                height: 6px;
                background-color: $mercury;
                pointer-events: none;

                .slick-active {
                    width: 88px;
                    height: 6px;
                    border-radius: 30px;
                    background-color: $seaFoam;
                }
                li {
                    width: 88px;
                    height: 6px;
                    border-radius: 30px;
                    margin-right: 12px;
                }
            }
            .next-arrow {
                right: -36px;
                cursor: pointer;
                @media (max-width: 1027px) {
                    right: -27px;
                }
                @media (max-width: $mobile) {
                    right: -20px;
                }
                @media (max-width: $mobile) {
                    right: -17px;
                }
                @media (max-width: 360px) {
                    right: 0px;
                    top: 87px;
                }
                @media (max-width: $smaller-screen) {
                    right: 0px;
                    top: 68px;
                }
            }
            &__slide {
                width: 128px;
                height: 494px !important;
                margin-right: 16px;
                outline: none!important;
                cursor: pointer;
                border-radius: 40px;
                @media (max-width: 1400px) {
                    width: 93px;
                    border-radius: 30px;
                }
                @media (max-width: 1000px) {
                    width: 68px;
                    height: 297px !important;
                    border-radius: 20px;
                    margin-right: 12px;
                }
                @media (max-width: 758px) {
                    width: 89px;
                    height: 74px !important;
                    border-radius: 20px;
                    margin-right: 12px;
                }
                @media (max-width: $mobile) {
                    width: 77px;
                }
                @media (max-width: $smaller-screen) {
                    width: 61px;
                    height: 56px !important;
                }
                &:nth-child(n+1) {
                    display: none;
                }
            
                .slick-initialized,
                &__slide:first-child { 
                    display: block;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 40px;
                    z-index: -1;
                    @media (max-width: 1400px) {
                        border-radius: 30px;
                    }
                    @media (max-width: 1000px) {
                        border-radius: 20px;
                    }
                }
                &.slick-current.slick-active {
                    outline: none!important;
                }
            }
        }
    }

    &__text {
        margin: 0 auto;
        margin-top: 31px;

        @media (max-width: $desktop) {
            margin-top: 23px;
        }

        @media (max-width: 400px) {
            text-align: left;
        }

        h2 {
           font-size: 36px;
           font-weight: 300;
           margin-bottom: 23px;

            @media (max-width: $desktop) {
               font-size: 22px;
            }
            @media (max-width: 758px) {
                display: none;
            }
        }

        p {
            width: 70%;
            margin-bottom: 24px;

            @media (max-width: 1400px) {
                width: 100%;
             }
        }

        &__button {
            @media (max-width: 758px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &.title-top {
        .baloon-colums__text {
            display: none;
        }
        .baloon-colums__title-mobile {
            display: block;
            margin-bottom: 23px;
            @media (max-width: $desktop) {
                font-size: 22px;
            }
        }
    } 

    &__swiper {
        // transition: opacity 0.5s ease;
        // &.hide-slider {
        //     opacity: 0;
        //     pointer-events: none; /* Prevent interaction with hidden elements */
        // } 
        display: block !important;
        @media (max-width: 758px) {
            display: none !important;
        }
        &__slide {
            float: left !important;
            width: 128px;
            height: 494px !important;
            outline: none!important;
            cursor: pointer;
            border-radius: 40px;
            transition: width 0.5s ease-in-out;
            @media (max-width: 1400px) {
                width: 93px;
                border-radius: 30px;
            }
            @media (max-width: 1000px) {
                width: 68px;
                height: 297px !important;
                border-radius: 20px;
                margin-right: 12px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: 40px;
                z-index: -1;
            }

            &.width {
                width: 744px;
                transition: width 0.5s ease-in-out;

                @media (max-width: 1400px) {
                    width: 523px;
                }
                @media (max-width: 1000px) {
                    width: 384px;
                }
            }
        }

        &:nth-child(n+1) {
            display: none;
        }
    
        .slick-initialized,
        &__slide:first-child { 
            display: block;
        }
        
        &__slide.slick-current {
            width: 744px;
            height: 494px;
            transition: width 1s ease-in-out;

            @media (max-width: 1400px) {
                width: 523px;
                height: 494px !important;
                border-radius: 30px;
            }
            @media (max-width: 1000px) {
                width: 384px;
                height: 297px !important;
                margin-right: 6px;
            }

            &.current {
                width: 128px;
                transition: width 1s ease-in-out;
            }
        }
        .slick-slide {
            margin: 0 8px;
            transition: width 0.7s ease-in-out;
            @media (max-width: 1000px) {
                margin: 0 6px;
            }
        }
      
        /* the parent */
        .slick-list {
            margin: 0 -8px;
            transition: width 0.7s ease-in-out;
            @media (max-width: 1000px) {
                margin: 0 -6px;
            }
        }

        .slick-track {
            left: 10px;
        }

        .slick-arrow {
            position: absolute;
            top: calc(50% - 9px);
            z-index: 10;
            width: 22px;
            height: 18px;
            @media (max-width: 1000px) {
                width: 17px;
                height: 13px;
            }
        }
        .prev-arrow {
            left: -32px;
            cursor: pointer;

            @media (max-width: 1027px) {
                left: -23px;
            }
        }
        .next-arrow {
            right: -36px;
            cursor: pointer;
            @media (max-width: 1027px) {
                right: -27px;
            }
        }
    }

}

.baloon-colums__slider-clients {
    width: 100%;
    position: relative;
    bottom: 6px;
    padding-bottom: 40px;
    @media (max-width: $desktop) {
        bottom: initial;
        // top: 40px;
    }
    @media (max-width: $tablet) {
        padding-bottom: 32px;
    }
    img {
        max-height: 40px;
        max-width: 100px;
        margin: 0 auto;
    }
    .slick-slide {
        margin: 0 20px;
    }
    @media (max-width: $desktop) {
        width: 100%;
    }
    .slick-track {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .slick-list {
        padding: 0 !important;
        overflow: hidden;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        transform: translateZ(0);
    }

    .slick-slider {
        width: 100%;
        .slick-track {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        height: fit-content;
        justify-content: center;
        }
        .slick-slide{
        float: none;
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
        width: 100px;
        margin: 0 30px;
        transition: all 0.3s ease;
        height: auto;
        p {
            font-size: 20px !important;
            &::after {
            content: "•";
            position: relative;
            left: 30px;
            font-size: 20px !important;
            }
            @media (max-width: 550px) {
            font-size: 14px !important;
            width: fit-content;
            margin-top: 15px;
            }
        }
        }
    }
}
