.woocommerce-checkout-review-order{
    // background-color: #D9E7E1 !important; 
    table:not( .has-background ) th {
        background-color: $mercury !important;
    }
    table:not( .has-background ) tbody td {
        background-color: $mercury !important;
    }
    tr{
        background-color: $mercury !important;
    }
    // #payment .payment_methods > li:not(.woocommerce-notice) {
    //     background-color: #D9E7E1;
    // }
    // #payment .payment_methods > li .payment_box, #payment .place-order {
    //     background-color: #D9E7E1;
    // }
    .woocommerce-Price-amount {
        display: block!important;
    }
}
.woocommerce-checkout .delivery-banner {
    width: 100%;
    margin-top: 96px;
    position: fixed;
    z-index: 60;
}
.woocommerce-checkout-review-order-table thead {
    .product-name, .product-total {
        display: none;
    }
}
#payment .payment_methods>.wc_payment_method>label {
    background-color: white;
    margin: 0;
}
#payment .payment_methods li input[type=radio]:first-child:checked+label:before {
    color: $seaFoam !important;
}
#payment .payment_methods>.wc_payment_method>label {
    font-family: $montserrat;
    font-size: 16px;
    padding: 0 !important;
}
li.select2-results__option.select2-results__option--highlighted {
    background-color: $seaFoam !important;
}
.select2-results__option {
    font-size: 14px !important;
    font-family: $montserrat !important;
    color: black !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid $mercury;
}
.select2-dropdown {
    border-radius: 10px;
    border: 2px solid $mercury !important;
}
#stripe-payment-data p {
    display: block !important;
    font-size: 14px;
    font-weight: 300;
    font-family: $montserrat;
    color: black;
}
.checkout.woocommerce-checkout label {
    color: #000;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: $montserrat !important;
    margin-bottom: 16px;
}
.wc-stripe-elements-field {
    border: 2px solid $mercury !important;
    padding: 10px !important;
    background-color: white;
    border-radius: 10px;
    color: black;
}
#payment .place-order {
    padding: 0 !important;
}
.woocommerce-privacy-policy-text p {
    display: block !important;
}
.woocommerce-billing-fields__field-wrapper, .orddd-checkout-fields, #payment, .woocommerce-additional-fields, .woocommerce-shipping-fields {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    margin: 0;
    max-height: 0;
    &.open {
        opacity: 1;
        position: relative;
        pointer-events: initial;
        margin-bottom: 62px;
        padding: 0 15px;
        @media (max-width: 450px) {
            padding: 0;
        }
    }
}
.woocommerce-shipping-fields.open {
    max-height: 950px;
    transition: max-height 0.6s ease-in, opacity 1.2s ease-in;
}
.woocommerce-billing-fields__field-wrapper.open {
    max-height: 950px;
    transition: max-height 1.5s ease-in, opacity 3.2s ease-in;
}
.woocommerce-additional-fields.open {
    max-height: 240px;
    transition: max-height 0.6s ease-in, opacity 1.2s ease-in;
}
#payment.open {
    max-height: 900px;
    transition: max-height 0.3s ease-in, opacity 0.6s ease-in;
}
.container-shipping-table.open {
    max-height: 600px;
    transition: max-height 0.3s ease-in, opacity 0.6s ease-in;
}
.orddd-checkout-fields.open {
    max-height: 250px;
    transition: max-height 0.5s ease-in, opacity 1s ease-in;
}
.woocommerce-checkout-review-order .edit-basket-row td {
    border-radius: 0 0 24px 24px !important;
}
.woocommerce-checkout-review-order-table {
    position: absolute;
    right: 40px;
    z-index: 0;
    top: calc(var(--heightCheckoutWindow) + 24px);
    @media (max-width: 767px) {
        width: calc(100% - 64px) !important;
        left: 32px;
    }
    @media (max-width: 450px) {
        width: calc(100% - 40px) !important;
        left: 20px;
    }
    tfoot {
        border-radius: 24px !important;
        .order-total {
            border-radius: 24px !important;
            td {
                text-align: right;
                padding: 38px 24px 24px 0;
                @media (max-width: 767px) {
                    width: calc(100% - 64px) !important;
                    left: 32px;
                    top: 0 !important;
                }
            }
            th {
                padding: 38px 0 24px 24px;
            }
        }
        .fee {
            td {
                text-align: right;
                padding: 38px 24px 24px 0;
                span {
                    font-size: 16px !important;
                    color: black !important;
                    font-family: $montserrat !important;
                    @media (max-width: 900px) {
                        font-size: 14px !important;
                    }
                }
                @media (max-width: 768px) {
                    padding: 25px 24px 0px 0;
                }
            }
            th {
                padding: 38px 0 24px 24px;
                font-size: 16px !important;
                color: black !important;
                font-family: $montserrat !important;
                font-weight: 400 !important;
                @media (max-width: 900px) {
                    font-size: 14px !important;
                    padding: 38px 0 24px 24px;
                }
                @media (max-width: 768px) {
                    padding: 25px 0 0px 24px;
                }
            }
        }
    }
    #shipping_method {
        label {
            span {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        li {
            input {
                margin-top: 3px;
            }
        }
    }
    .cart-subtotal {
        display: none !important;
    }
    .woocommerce-shipping-totals {
        th {
            font-size: 16px !important;
            color: black;
            font-weight: 400 !important;
            font-family: $montserrat !important;
            @media (max-width: 900px) {
                font-size: 14px !important;
            }
        }
        td {
            @media (max-width: 900px) {
                font-size: 14px !important;
            }
            padding-left: 0;
            li {
                label {
                    font-weight: 400;
                    @media (max-width: 900px) {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}
.edit-basket-row .button-container {
    display: flex;
    justify-content: center;
}
table.shop_table.woocommerce-checkout-review-order-table {
    border-radius: 24px !important;
    @media (max-width: 1400px) {
        width: 400px;
    }
    @media (max-width: 1110px) {
        width: 350px;
    }
    @media (max-width: 990px) {
        width: 300px;
    }
    @media (max-width: 870px) {
        width: 260px;
    }
}
.woocommerce-shipping-totals th {
    padding-right: 10px !important;
}
.woocommerce-checkout-review-order-table tbody {
    display: none !important;
}
.woocommerce-account-fields {
    display: none !important;
}
p#billing_first_name_field, p#billing_last_name_field {
    width: 100%;
}
#payment .place-order {
    background-color: white !important;
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout.woocommerce-checkout {
    position: relative !important;
}

.checkout.woocommerce-checkout .select2-selection {
    border-radius: 10px;
}
textarea#order_comments {
    height: 200px;
    box-shadow: none !important;
}
#customer_details {
    @media (max-width: 769px) {
        width: 100%;
        margin-right: 0;
    }
    
}
input {
    box-shadow: none !important;
}
#payment .payment_methods > li .payment_box {
    background-color: white !important;
}
#payment .payment_methods > li:not(.woocommerce-notice) {
    background-color: white !important;
}
#payment .payment_methods li .payment_box fieldset .form-row input[type=checkbox] {
    display: none;
}
.checkout.woocommerce-checkout #order_review button {
    width: 35%;
    font-size: 16px;
    font-weight: 400;
    font-family: $montserrat !important;
    background-color: $seaFoam !important;
    margin-top: 32px;
    &:hover {
        background-color: $mercury !important;
    }
    &:focus {
        outline: none !important;
    }
    @media (max-width: 900px) {
        width: 150px;
    }
}
.checkout-review-order__container {
    border-radius: 20px 20px 0 0;
    background-color: $mercury;
    padding: 24px 24px 17px 24px;
    h2 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    &__product {
        display: flex;
        position: relative;
        margin-bottom: 16px;
        height: fit-content;
        img {
            width: 74px;
            height: 74px;
            border-radius: 8px;
            margin-right: 8px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            color: black;
        }
        .price-checkout-product {
            position: absolute;
            right: 0;
            bottom: 0;
            @media (max-width: 900px) {
                font-size: 14px !important;
            }
        }
        .name-checkout-product {
            width: 80%;
            @media (max-width: 1030px) {
                width: 100%;
            }
            @media (max-width: 1100px) {
                font-size: 14px;
            }
            @media (max-width: 900px) {
                font-size: 12px;
            }

            @media (max-width: 870px) {
                font-size: 9px;
            }

            @media (max-width: 768px) {
                font-size: 12px;
            }

            @media (max-width: 370px) {
                font-size: 10px;
            }
        }
    }
    .line {
        height: 2px;
        width: 100%;
        background-color: $dark-accent;
        margin: 24px 0 0 0;
    }
    .total-checkout-product {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        p {
            color: black;
        }
        .woocommerce-Price-amount {
            display: block !important;
        }
    }
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.ui-datepicker-month {
    font-size: 18px;
    font-family: $montserrat !important;
    font-weight: 400 !important;
    color: black !important;
}
.ui-datepicker-year {
    font-size: 18px;
    font-family: $montserrat !important;
    font-weight: 300 !important;
    color: black !important;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 18px 0;
}
.ui-datepicker-title {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: calc(100% - 20px);
        left: 10px;
        top: 38px;
        background-color: $dark-accent;
    }
}
.ui-datepicker-prev, .ui-datepicker-next {
    z-index: 10;
}
td.available-deliveries.ui-datepicker-current-day a {
    border: 2px solid $seaFoam !important;
}
td.available-deliveries.ui-datepicker-today {
    border: 2px solid $mercury !important;
    background-color: white !important;
}
.back-to-cart-mobile {
    display: none;
    .basket-info {
        font-size: 16px;
        font-weight: 400;
        color: black;
    }
    a {
        text-decoration: none !important;
        position: relative;
        right: 10px;
        &::after {
            content: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7L6.10557 4.44721C6.4741 4.26295 6.4741 3.73705 6.10557 3.55279L1 1' stroke='%2370B095' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            display: block;
            position: absolute;
            right: -10px;
            bottom: 1px;
        }
    }
    @media (max-width: 700px) {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    @media (max-width: 450px) {
        padding: 0 20px;
    }
    @media (max-width: 320px) {
        padding: 0 16px;
    }
}
td.available-deliveries, td.available-deliveries a {
    background-color: initial !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-family: $montserrat !important;
    border: 2px solid transparent !important;
}
a.ui-state-default {
    background-color: initial !important;
}
.ui-datepicker {
    box-shadow: none !important;
    border: none !important;
    width: fit-content !important;
}
table:not( .has-background ) th {
    background-color: white !important;
}
.ui-datepicker td {
    padding: 5px !important;
    @media (max-width: 390px) {
        padding: 1px !important; 
    }
}
.ui-datepicker .ui-datepicker-buttonpane {
    display: none !important;
}
.ui-datepicker-calendar span {
    font-family: $montserrat !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.ui-datepicker td.ui-datepicker-today {
    background-color: white !important;
}
.ui-datepicker td .ui-state-default {
    border-radius: 10px !important;
}
.ui-widget-header a {
    color: $seaFoam !important;
}
.woocommerce-privacy-policy-text p {
    font-size: 14px !important;
    font-weight: 300 !important;
    font-family: $montserrat;
    color: black;
}
.ui-datepicker td.ui-datepicker-today span.ui-state-default {
    background-color: white !important;
    border: 2px solid $mercury !important;
    color: $black !important;
    font-weight: 400 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background: initial !important;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled {
    opacity: 1 !important;
}
.ui-datepicker td.ui-state-disabled .ui-state-default {
    color: $gray !important;
    opacity: 1 !important;
    background-color: $light-gray !important;
    font-weight: 400 !important;
}
div#orddd_datepicker_0 {
    margin: 50px 0 50px 0;
}
// .select2-container {
//     display: initial !important;
// }
.ElementsApp .InputElement::placeholder {
    color: $mercury !important;
}
.woocommerce-billing-fields h3 {
    display: none;
}
#payment .payment_methods li .payment_box fieldset {
    background-color: white !important;
    padding: 35px 0 0 !important;
    @media (max-width: 1176px) {
        padding: 11px 0 0 !important;
    }
    @media (max-width: 1028px) {
        padding: 35px 0 0 !important;
    }
    @media (max-width: 900px) {
        padding: 35px 0 0!important;
    }
}
.woocommerce-SavedPaymentMethods-saveNew label {
    color: black;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.payment_method_stripe {
    padding: 16px 16px 0px 0 !important;
}
h3.custom-payment-heading {
    width: 100%;
    margin-top: 46px;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 0;
    @media (max-width: 769px) {
        margin-top: 80px;
    }
}
p.custom-payment-infos {
    width: 100%;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
}
.cart_item .variation {
    dt, dd {
        display: block;
    }
    .variation-Extras {
        display: block;
    }
    dt.variation-Extras {
        display: block;
    }
}
table.woocommerce-checkout-review-order-table {
    width: 450px;
    @media (max-width: 1175px) {
        width: 100%;
    }
}
table.woocommerce-checkout-review-order-table .product-name {
    padding: 24px 0 24px 32px;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 70% !important;
    background-color: $mercury !important;
    @media (max-width: 900px) {
        padding: 24px 0 24px 18px;
        font-size: 14px;
    }
    .product-quantity {
        padding: 24px 0 24px 32px;
        font-size: 16px;
        font-weight: 400;
        color: black;
        @media (max-width: 900px) {
            padding: 24px 0 24px 18px;
            font-size: 14px;
        }
    }
}
.edit-basket-container {
    width: 100%;
    background-color: $mercury;
    padding: 0 32px 32px 32px;
    display: flex;
    justify-content: center;
    width: 450px;
    border-radius: 0 0 20px 20px;
    @media (max-width: 1175px) {
        width: 100%;
    }
}
.col2-set {
    width: 64% !important;
    margin-right: 21px !important;
    .col-1, .col-2 {
        margin-bottom: 0 !important;
    }
    @media (max-width: 1400px) {
        width: 59% !important;
    }
    @media (max-width: 830px) {
        width: 58% !important;
    }
    @media (max-width: 767px) {
        width: 100% !important;
        margin-top: calc(var(--heightCheckoutWindow) + 250px);
    }
}
.woocommerce-additional-fields h3 {
    padding: 46px 0 39px;
}
.wc-block-components-notice-banner {
    display: none !important;
}
table.woocommerce-checkout-review-order-table .product-total {
    padding: 24px 32px 24px 32px;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: $mercury !important;
    @media (max-width: 900px) {
        padding: 24px 18px 24px 18px;
        font-size: 14px;
    }
}
.checkout-review-order {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: 767px) {
        padding: 0 32px;
    }
    @media (max-width: 450px) {
        padding: 0 20px;
    }
    &__container {
        position: relative;
        z-index: 1;
        float: right;
        clear: right;
        width: 450px;
        @media (max-width: 1400px) {
            width: 400px;
        }
        @media (max-width: 1110px) {
            width: 350px;
        }
        @media (max-width: 990px) {
            width: 300px;
        }
        @media (max-width: 870px) {
            width: 260px;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}
.checkout.woocommerce-checkout #order_review {
    width: 100%;
    clear: left;
    float: left;
}
tfoot .order-total {
    th {
        padding: 10px 32px 24px 32px;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        color: black;
        @media (max-width: 900px) {
            font-size: 14px;
            padding: 10px 18px 24px 18px; 
        }
    }
    td {
        padding: 10px 32px 24px 32px;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        color: black;
        @media (max-width: 900px) {
            font-size: 14px;
            padding: 10px 18px 24px 18px; 
        }
        .woocommerce-Price-amount {
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 400;
            color: black;
            @media (max-width: 900px) {
                font-size: 14px;
            }
        }
    }
}
tfoot .cart-subtotal {
    th {
        padding: 24px 0 10px 32px;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        color: black;
        @media (max-width: 900px) {
            padding: 24px 0 10px 18px; 
            font-size: 14px;
        }
    }
    td {
        padding: 24px 0 10px 32px;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        color: black;
        @media (max-width: 900px) {
            padding: 24px 0 10px 18px;
            font-size: 14px;
        }
    }
}
.woocommerce-info {
    display: none !important;
}
.entry-header {
    display: none;
}
.coupon button{
    display: flex;
    width: auto;
    height: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 16px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Sea-Foam, #70B095);
    color: var(--Bone, #FFF);
    text-align: center;
    /* Interactive 1 - Montserrat Regular - 16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;

    &:focus {
        outline: none !important;
    }
}
.woocommerce-order{
    max-width: 1489px;
    margin: 0 auto;
}
.form-row-first {
    @media (max-width: 900px) {
        float: initial !important;
        width: 100% !important;
    }
}
.form-row-last {
    @media (max-width: 900px) {
        float: initial !important;
        width: 100% !important;
    }
}
.woocommerce-message{
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--Mercury, #D9E7E1) !important;
    color: #000 !important;
    a{
        color: #000 !important;
    }
    &:before{
        display: none !important; 
    }
}
.heading-checkout-review {
    width: 450px;
    float: right;
    margin-right: 0;
    clear: right;
    background-color: $mercury;
    border-radius: 20px 20px 0 0;
    padding: 32px 0 0 32px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    @media (max-width: 1175px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 900px) {
        padding: 18px 0 0 18px;
        width: calc(40% - 20px);
    }
    @media (max-width: 769px) {
        width: 100%;
        float: initial !important;
    }
}
#order_review_heading {
    display: none !important;
}
.cart-empty.woocommerce-info{
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    color: red;
    background-color: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-left: none;
    padding-left: 0px;
    letter-spacing: -1.26px;
    &:before{
        display: none;
    }
    &:after{
        display: none;
    }
}
.return-to-shop{
    text-align: center;
}
#order_review .shop_table {
    margin-bottom: 0 !important;
}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    @media (max-width: 450px) {
        width: 380px !important;
        position: relative;
        left: -10px;
        margin: 0 auto;
    }
    @media (max-width: 390px) {
        left: -15px;
    }
    @media (max-width: 380px) {
        left: -23px;
    }
}
.hentry .entry-content a.button{
    border-radius: 10px;
    background: var(--Sea-Foam, #70B095);
    color: var(--Bone, #FFF);
    text-align: center;
    /* Interactive 1 - Montserrat Regular - 16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    transition: 0.25s;
    @media (min-width: 768px) {
        &:hover {
            box-shadow: inset 0 0 0 2em $white !important;
            color: $seaFoam;
        }
    }
}
// .select2-dropdown.select2-dropdown--below {
//     width: max-content !important;
// }
.billing-address-accordion, .delivery-address-accordion, .payment-accordion, .additional-accordion, .delivery-address {
    width: 100%;
    height: 74px;
    border-radius: 20px;
    background-color: $mercury;
    display: flex;
    padding: 13px 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    z-index: 5;
    position: relative;
    &.filled {
        background-color: $seaFoam;
        h3 {
            color: white;
        }
        p {
            background-color: white;
            color: black;
            @media (min-width: 768px) {
                &:hover {
                    box-shadow: inset 0 0 0 2em $mercury !important;
                }
            }
        }
    }
    h3 {
        display: block;
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        @media (max-width: $mobile) {
            font-size: 16px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 20px;
        background-color: $white;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.25s;
        border: 2px solid white;
        color: black;
        &:hover {
            border: 2px solid $seaFoam;
        }
    }
}

.ui-datepicker-unselectable.ui-state-disabled.holidays {
    background-color: initial !important;
}

#ui-datepicker-div {
    z-index: 6 !important;
}

.title-billing-address, .title-delivery-address, .title-payment, .container-shipping-table {
    display: none;
    h3 {
        padding: 46px 0 39px 0;
        display: block;
        font-size: 22px;
        font-weight: 300;
    }
    p {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 33px;
        color: black;
    }
    &.open {
        width: 100%;
        display: block;
        padding: 0 15px;
        @media (max-width: 450px) {
            padding: 0;
        }
    }
}
.woocommerce-shipping-totals th {
    padding-left: 0;
    font-family: $montserrat;
    color: black;
}
#shipping_method .woocommerce-Price-amount {
    display: block !important;
}
.orddd-checkout-fields {
    width: 100%;
    .form-row {
        width: 400px;
        display: block !important;
        @media (max-width: 480px) {
            width: 100%;
        }
    }
}
#orddd_list_view_select_0 {
    @media (max-width: 480px) {
        display: flex;
    }
}
.checkout.woocommerce-checkout{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    height: 100vh;

    @media (max-width: 1020px) {
        padding: 0 32px;
    }
    @media (max-width: 769px) {
        padding-bottom: 50px;
    }
    @media (max-width: 450px) {
        padding: 0 20px;
    }
    
    #order_review {
        // border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
        button{
            border-radius: 10px;
            background: #70B095;
        }
        p{
            color: rgba(0, 0, 0, 0.80);
            font-family: Montserrat;
            font-style: normal;
            display: flex;
        }
    }
    .form-row{
        margin-bottom: 13px;
    }
    label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .selection{
        display: flex;
        width: 100%;
        height: 42px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
    }
    .select2-selection{
        width: 100%;
        height: 100%;
        border: 2px solid var(--Mercury, #D9E7E1);
        background: var(--Bone, #FFF);
        padding: 6px;
        box-sizing: border-box;
    }
    .form-row.woocommerce-validated input.input-text{
        box-shadow: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 9px;
        right: 9px;
        width: 20px;
    }
    .validate-phone .input-text, .validate-email .input-text, .woocommerce-additional-fields .input-text{
        display: flex;
        width: 488px;
        height: 42px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid var(--Mercury, #D9E7E1);
        background: var(--Bone, #FFF);
        width: 100%;
    }
}
.ui-datepicker .ui-widget-header, .ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    font-weight: normal;
    background-color: white;
}


.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: 0.5em 0.2em 0.4em;
    cursor: pointer;
    padding: 0.2em 0.6em 0.3em 0.6em;
    width: auto;
    overflow: visible;
    display: flex;
    /* width: 216px; */
    height: 42px;
    padding: 16px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Sea-Foam, #70B095);
}

input[type=radio], input[type=checkbox] {
    width: 15px !important;
    height: 15px !important;
}

input[type=radio]:before, input[type=checkbox]:before {
    right: 52% !important;
    top: 56% !important;
    width: 4px !important;
    height: 9px !important;
}

#orddd_time_slot_0_field {
    margin-top: 20px;

    .list-view {
        border-radius: 10px !important;
        border: 2px solid $mercury !important;
        background-color: $white !important;
        cursor: pointer;
        &.selected {
            background-color: $seaFoam !important;
            color: white;
        }
    }
}

#e_deliverydate_0 {
    &:hover {
        border: 2px solid $seaFoam;
    }
}

.checkout-header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 46px;
    padding-top: 148px;
    @media (max-width: 1024px) {
        padding: 0 32px;
        padding-top: 140px;
    }
    @media (max-width: 450px) {
        padding: 0 20px;
        padding-top: 138px;
    }

    h1 {
        margin-top: 72px;
        margin-bottom: 32px;
        font-size: 54px;
        font-weight: 300;
        @media (max-width: 1024px) {
            font-size: 32px;
            margin-top: 56px;
            margin-bottom: 18px;
        }
    }

    &__options {
        display: flex;
        justify-content: center;
        p {
            width: fit-content;
            padding: 6px;
            border-radius: 8px;
            border: 2px solid $mercury;
            margin-right: 22px;
            position: relative;
            font-size: 10px;
            font-weight: 400;
            color: black;
            cursor: pointer;

            &:hover {
                background-color: $mercury;
            }

            &:last-child {
                margin-right: 0;
                &::after {
                    display: none;
                }
            }

            &::after {
                content: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7L6.10557 4.44721C6.4741 4.26295 6.4741 3.73705 6.10557 3.55279L1 1' stroke='%23D9E7E1' stroke-linecap='round'/%3E%3C/svg%3E");
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                right: -17px;
                bottom: 20px;
            }
        }
    }
}

.woocommerce-thankyou-order-details {
    .woocommerce-Price-amount {
        display: block !important;
    }
}

.woocommerce-order-details {
    .woocommerce-Price-amount {
        display: block !important;
    }
}

.woocommerce-order {
    margin-top: 110px;
}

.woocommerce-message {
    display: none;
}

.woocommerce-order {
    .woocommerce-thankyou-order-received {
        padding-left: 40px;
        margin-top: 150px;
        color: black;
        @media (min-width: 1024px) {
            padding-left: 32px;
        }
    }


    .order_details {
        background-color: $mercury;
    }

    ul.order_details li {
        padding: 1em 3.618em;
        font-family: $montserrat;
        color: black;

        strong {
            font-weight: 500;
        }
    }

    h2.woocommerce-order-details__title {
        padding-left: 40px;
        @media (min-width: 1024px) {
            padding-left: 32px;
        }
    }

    .woocommerce-order-details {
        font-family: $montserrat;
        color: black;
    }

    .woocommerce-table__product-name {
        padding-left: 40px;

        @media (min-width: 1024px) {
            padding-left: 32px;
        }
    }

    tfoot {
        th {
            padding-left: 40px;
            @media (min-width: 1024px) {
                padding-left: 32px;
            }
        }
    }

    .add_to_calendar {
        padding-left: 40px;
        margin-bottom: 20px;

        @media (min-width: 1024px) {
            padding-left: 32px;
        }

        #calendar-toggle {
            background-color: $seaFoam;
            color: $white;
            border-radius: 10px;
            font-size: $p-regular;
            font-weight: $p-regular-weight;
            padding: 9px 24px;
            display: block;
            width: fit-content;
            transition: 0.25s;
            @media (min-width: 768px) {
                &:hover {
                    box-shadow: inset 0 0 0 2em $mercury;
                }
            
                &:active, &:focus {
                    background-color: $seaFoam;
                }
            }
        }
    }

    .orddd_order_type, .orddd_delivery_date, .orddd_delivery_time {
        padding-left: 40px !important;
        margin-bottom: 10px !important;

        @media (min-width: 1024px) {
            padding-left: 32px !important;
        }
    }

    .woocommerce-customer-details {
        padding-top: 50px;
        .woocommerce-columns {
            padding-left: 40px !important;
            color: black;
    
            @media (min-width: 1024px) {
                padding-left: 32px !important;
            }
        }
    }
}