.featured-products {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 200px 40px 260px 40px;
    @media (max-width: 1000px) {
        padding: 48px 40px 50px 40px;
    }
    @media (max-width: $tablet) {
        padding: 32px 0 50px 0;
    }
    &__general-container {
        display: flex;

        @media (max-width: 1000px) {
            display: block;
        }
    }
    &__container-products {
       height: 211px;
       width: 488px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       position: relative;
       bottom: 610px;

       @media (max-width: 1400px) {
            width: 40%;
       }
    
       @media (max-width: 1000px) {
            width: 100%;
            bottom: 0;
            flex-wrap: initial;
            height: fit-content;
            margin-bottom: 68px;

            .slick-slide {
                margin: 0 8px;
            }
          
            .slick-list {
                margin: 0 -8px;
            }
            
            .slick-dots {
                top: 24px;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 20%; /* Adjust the width as needed */
                z-index: 1;
            }

            /* Left gradient */
            &:before {
                left: -10px;
                background: linear-gradient(to left, transparent 0%, #FFFFFF 100%);
            }

            /* Right gradient */
            &:after {
                right: -10px;
                background: linear-gradient(to right, transparent 0%, #FFFFFF 100%);
            }
       }


       @media (max-width: $tablet) {

            &:before,
            &:after {
                display: none;
                width: 25%;
            }
       }

       @media (max-width: $mobile) {
           margin-bottom: 16px;

            &:before,
            &:after {
                display: block;
            }

            .slick-dots {
                top: 101px;
            }
        }

        @media (max-width: $smaller-screen) {

            &:before,
            &:after {
                display: none;
            }
        }

       .slick-prev, .slick-next {
            display: none !important;
        }
    }
    &__testimonial {
       width: 752px;
       height: 211px;
       padding-left: 96px;

       @media (max-width: 1400px) {
           width: 60%;
           position: relative;
           bottom: 160px;
       }

       @media (max-width: 1220px) {
           padding-left: 43px;
       }

       @media (max-width: 1000px) {
            width: 100%;
            bottom: initial;
            height: fit-content;
            padding: 0;
            padding-top: 64px;
        }

        @media (max-width: $tablet) {
            padding-left: 32px;
            padding-right: 32px;
        }

        @media (max-width: $mobile) {
            padding-top: 100px;
        }

       h2 {
           font-size: 36px;
           font-weight: 300;
           color: black;
           margin-bottom: 31px;

            @media (max-width: 1000px) {
                font-size: 22px;
                font-weight: 300;
            }
       }

       &__slider {
            .slick-prev, .slick-next {
                display: none !important;
            }
            .slick-dots {
                top: 24px;
            }

            &__slide:nth-child(n+1) {
                display: none;
            }
        
            .slick-initialized,
            &__slide:first-child { 
                display: block;
            }

            &__author {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                h3 {
                    margin: 0;
                    margin-right: 22px;
                    font-size: 22px;
                    font-weight: 300;

                    @media (max-width: $mobile) {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                .rating {
                    margin-left: 8px;
                }
           }
       }
    }

    &__title {
       display: none;

        @media (max-width: 1000px) {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 32px;
            display: block;
            text-align: center;
        }

        @media (max-width: $mobile) {
            margin-bottom: 24px;
        }
    }

    &__button {
       display: none;

        @media (max-width: 1000px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__product {
        height: fit-content;
        width: 224px;
        margin-bottom: 32px;

        @media (max-width: 1400px) {
            width: 45%;
        }

        @media (max-width: 1000px) {
            width: 173px;
            height: fit-content;
        }

        @media (max-width: $tablet) {
            width: 184px;
            height: fit-content;
        }

        @media (max-width: $mobile) {
            width: 288px;
            height: fit-content;
        }

        &__image {
            background-size: cover;
            background-position: center center;
            width: 224px;
            height: 200px;
            border-radius: 20px;
            margin-bottom: 8px;
            position: relative;

            @media (max-width: 1400px) {
                width: 100%;
            }

            @media (max-width: 1000px) {
                width: 173px;
                height: 173px;
            }

            @media (max-width: $tablet) {
                width: 184px;
                height: 184px;
            }

            @media (max-width: $mobile) {
                width: 288px;
                height: 288px;
            }

            ul {
                display: flex;
                width: fit-content;
                position: absolute;
                bottom: 12px;
                left: 12px;
                margin: 0;
                column-gap: 8px;
                li {
                     font-size: 6px;
                     font-weight: 400;
                     font-family: $montserrat;
                     list-style: none;
                     padding: 4px 6px;
                     background-color: $mercury;
                     border-radius: 44px;
                     line-height: 10px;
                     color: black;
                }
            }
        }

        &__title {
            display: inline;
            p {
                color: black;
                &:first-of-type {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 15px;

                    @media (max-width: 580px) {
                        text-align: center;
                    }

                    @media (max-width: $mobile) {
                        text-align: initial;
                    }
                }
                &:last-of-type{
                    font-size: 10px;
                    font-weight: 400;

                    @media (max-width: 580px) {
                        text-align: center;
                    }

                    @media (max-width: $mobile) {
                        text-align: initial;
                    }
                }
            }

        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
            position: relative;
            top: 150px;

            @media (max-width: 1000px) {
                top: initial;
            }
        }
    }

}