.features {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    padding: 48px 0 48px 0;
    @media (max-width: 1024px) {
        width: 100%;
        padding: 36px 32px;
    }
    @media (max-width: 450px) {
        padding: 32px 20px;
    }
    &__container{
        width: 100%;
        background-color: #F4F8F6;
        height: auto;
        padding: 24px 54px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        flex-wrap: wrap;
        @media (max-width: 670px) {
            padding: 24px;
            gap: 18px;
        }
        &__feature {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 56px;
            @media (max-width: 670px) {
                width: 30%;
            }
            @media (max-width: 520px) {
                width: 45%;
            }
        }
    }
    &__item{
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        flex-direction: column;
        img{
            width: 20px;
            height: auto;
            margin-bottom: 12px;
        }
        p{
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
            letter-spacing: -0.64px;
            color:#000;
        }
    }
    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: 300;
        font-family: $montserrat;
        @media (max-width: $desktop) {
            font-size: 22px;
            margin-bottom: 42px;
        }
        @media (max-width: $tablet) {
            margin-bottom: 18px;
        }
        @media (max-width: $mobile) {
            margin-bottom: 32px;
        }
    }
}



@media only screen and (max-width: 720px) {
    .features__item {
        width: -moz-max-content;
        width: max-content;
        -ms-flex-pack: center;
        justify-content: center;
        vertical-align: middle;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 33%;
        height: 145px;
    }
}