.get-a-quote {
    padding: 48px 40px 48px 40px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: $desktop) {
        padding: 48px 32px 48px 32px;
    }
    @media (max-width: $tablet) {
        padding: 32px 32px 32px 32px;
    }
    @media (max-width: $mobile) {
        padding: 32px 20px 32px 20px;
    }
    @media (max-width: $smaller-screen) {
        padding: 32px 16px 32px 16px;
    }

    h2 {
        font-size: 36px;
        font-weight: 300;
        color: black;
        margin-bottom: 23px;

        @media (max-width: $desktop) {
            font-size: 22px;
        }
    }

    form {
        margin: 0;
    }

    &__get-a-quote {
                h3 {
            margin: 0;
            margin-top: 32px;
            @media (max-width: $desktop) {
                margin-top: 24px;
                font-size: 18px;
            }
        }
        .name {
            @media (max-width: 580px) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                column-gap: 16px;
                input[type=text] {
                    width: calc(50% - 8px) !important;
                    margin-right: 0;
                    &:nth-child(3) {
                        width: calc(65% - 8px) !important;
                    }
                    &:nth-child(4) {
                        width: calc(35% - 8px) !important;
                    }
                }
            }
            @media (max-width: 375px) {
                display: block;
                input[type=text] {
                    width: 100% !important;
                    &:nth-child(3) {
                        width: 100% !important;
                    }
                    &:nth-child(4) {
                        width: 100% !important;
                    }
                }
            }
        }
        input[type=text], input[type=email], input[type=tel], input[type=date] {
            width: 232px !important;
            margin-right: 25px;
            margin-top: 24px;
            @media (max-width: 1200px) {
                width: 180px !important;
            }
            @media (max-width: 650px) {
                width: 100% !important;
            }
            &:nth-child(3) {
                width: 309px;
            }
            &:last-of-type {
                margin: 0;
                margin-top: 0;
            }
        }
        span.wpcf7-not-valid-tip {
            margin-top: 0px !important;
            width: 100% !important;
            text-align: left;
            font-size: 0.6em !important;
            margin-right: 0 !important;
        }
        .wpcf7-not-valid {
            border: 2px solid #D80101 !important;
            &.wpcf7-recaptcha {
                border: initial !important;
            }
        }
        .container-captcha .wpcf7-not-valid-tip {
            width: 100% !important;
            font-family: $montserrat !important;
            font-size: 0.7em !important;
            font-weight: normal !important;
        }
        .inputs-container {
            p {
                display: flex !important;
                flex-wrap: wrap;
                @media (max-width: 650px) {
                    display: flex !important;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 24px;
                    span {
                      width: 100%;
                    }
                }
                span {
                    margin-right: 24px;
                    margin-top: 24px;
                    @media (max-width: 650px) {
                        margin-top: 0;
                    }
                }
            }
        }
        .requirements {
            width: 70%;
            color: black;
            margin: 24px 0 24px 0;
            @media (max-width: 890px) {
                width: 100%;
            }
        }

        textarea {
            height: 96px;
        }

        .policy {
            width: 50%;
            font-size: 10px;
            font-weight: 400;
            color: black;
            line-height: 12px;
            text-align: center;
            margin: 0 auto;
            margin-top: 16px;
            margin-bottom: 24px;

            @media (max-width: 1000px) {
                width: 80%;
            }
            @media (max-width: 700px) {
                width: 100%;
            }

            a {
                color: $seaFoam;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }

                &:active, &:focus {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                    color: $vineyard;
                }
            }
        }
        .event {
            display: flex;
            margin-top: 24px;

            @media (max-width: 690px) {
                flex-wrap: wrap;
            }

            @media (max-width: 500px) {
                display: block;
            }

            @media (max-width: 375px) {
                column-gap: initial;
                display: block;
            }

            p {
                display: flex;
                align-items: flex-start;
            }

            .dropdown-quote-container {
                display: none !important;
            }

            span.wpcf7-form-control-wrap {
                @media (max-width: 500px) {
                    width: 100%;
                    margin-right: 0 !important;
                    margin-top: 24px;
                }
            }

            .select-wrapper {
                width: 234px;
                margin-right: 25px;

                @media (max-width: 500px) {
                    width: 100%;
                }

                p {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    z-index: 1;
                    span {
                        width: 100%;
                    }
                }

                .custom-options {
                    p {
                        display: block;

                        br {
                            display: none;
                        }
                    }
                }

                svg {
                    position: absolute;
                    right: 10px;
                    z-index: 0;
                    pointer-events: none;
                }
            }

            .dropdown-contact {
                display: none;
            }

            input {
                width: 232px;

                @media (max-width: $mobile) {
                    width: calc(50% - 8px);
                }

                @media (max-width: 375px) {
                    width: 100%;
                }
            }

            .wpcf7-form-control-wrap {
                margin-right: 16px;
            }

            .event-capture {
                span {
                    margin-right: 24px;
                    @media (max-width: 690px) {
                        margin-top: 24px;
                    }
                }
                p {
                    @media (max-width: 510px) {
                        display: block;
                        input {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        .submit-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            p {
                display: block;
            }
            input.wpcf7-form-control.wpcf7-submit.has-spinner.primary-button, input.wpcf7-form-control.wpcf7-submit.has-spinner.primary-button
            {
                background-color: #70b095;
                color: #fff;
                border-radius: 10px; 
                font-size: 16px;
                font-weight: 400;
                padding: 9px 24px;
                display: block;
                width: -moz-fit-content;
                width: fit-content !important;
                transition: .25s;
                margin-right: 0;
            }
        }
        .newsletter {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
            margin-top: 8px;
            @media (max-width: 1000px) {
                width: 100%;
            }
            @media (max-width: 300px) {
                display: block;
            }
            input[type=checkbox] {
                margin: 0 0.2em 0 0;
            }
            span {
                @media (max-width: 600px) {
                    margin-top: 10px;

                    span.wpcf7-form-control.wpcf7-radio {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
            }
            p {
                font-family: $montserrat;
                font-size: 10px;
                line-height: 12px;
                font-weight: 400;
                color: black;
                margin-left: 16px;
                margin-right: 16px;
                margin-top: 16px;
                @media (max-width: $smaller-screen) {
                    margin-left: 0;
                }
            }
            &__checkbox {
                width: fit-content;
                display: flex;
                margin-right: 16px;
                margin-top: 16px;

                label {
                    margin: 0;
                    font-family: $montserrat;
                    font-size: 10px;
                    line-height: 12px;
                    font-weight: 400;
                    color: black;

                    @media (max-width: $mobile) {
                        font-size: 8px;
                    }

                    @media (max-width: $smaller-screen) {
                        font-size: 5px;
                    }
                }
            }
        }
        .container-captcha {
            margin-top: 24px;
            display: flex;
            justify-content: center;
        }
        .wpcf7 form .wpcf7-response-output {
            border-radius: 10px;
            text-align: center;
            font-family: $montserrat;
        }
        
    }
    button[type=submit] {
        margin: 0 auto;
        padding: 7px 24px;
        height: 42px;
    }
}