.header {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: $white;
    border-bottom: 1px solid transparent;

    &.menu-mobile {
        border-bottom: 1px solid #f3f3f3;
    }

    .mobile-menu {
        @media (min-width: $desktop) {
            display: none;
        }
        width: 280px;
        background-color: $white;
        position: fixed;
        top: 96px;
        left: -280px;
        height: 100vh;
        z-index: 98;
        bottom: 0;
        transition: left 0.3s ease;

        &.open {
            left: 0px;
        }

        &__scrollable {
            overflow: auto;
            max-height: calc(100vh - 96px); 
        }

        ul {
            list-style: none;
            padding: 0 32px 0 32px;
            margin: 0;

            li {
                font-size: 16px;
                font-weight: 400;
                padding: 15px 0 15px 0;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: $light-mercury;
                    position: relative;
                    top: 15px;
                    border-radius: 7px;
                }

                .sub-menu {
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                    pointer-events: none;
                    max-height: 0;
                    transition: max-height 0.5s ease;
                    li {
                        opacity: 0;
                        transition: opacity 0.5s ease;
                        &::after {
                            display: none;
                        }
                    }
                }

                svg {
                    display: none;
                }
            }

            .menu-item-has-children {

                a {
                    transition: font-weight 0.1s ease;
                }

                svg {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 24px;
                    transition: transform 0.3s ease;
                    cursor: pointer;
                }

                &.open {
                    a {
                        font-weight: 600;
                    }
                    svg {
                        transform: rotate(180deg);
                    }
                    .sub-menu {
                        padding-top: 15px;
                        max-height: 500px;
                        opacity: 1;
                        pointer-events: initial;

                        li {
                            opacity: 1;
                            padding: 12px 0;

                            a {
                                font-weight: 300;
                            }
                        }

                        svg {
                            display: none;
                        }
                    }
                }
            }
        }

        .search-option {
            display: none;

            @media (max-width: $mobile) {
                display: block;
                padding: 15px 32px;
                color: $black;
                font-weight: 400;
                margin-bottom: 50px;

                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: $light-mercury;
                    position: relative;
                    top: 15px;
                    border-radius: 7px;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;

        @media (max-width: $desktop) {
            padding: 0 32px;
        }

        &__hamburger {
            display: none;

            @media (max-width: $desktop) {
                display: block;
                width: 24px;
                .hamburger {
                    cursor: pointer;

                    &.hide {
                        display: none;
                    }
                }
                .close {
                    display: none;

                    &.show {
                        cursor: pointer;
                        display: block;
                        position: relative;
                        bottom: 5px;
                    }
                }
            }
        }

        &__logo {
            cursor: pointer;
        }

        &__right-container {

            display: flex;
            justify-content: flex-end;

            a {
                margin-left: 24px;
            }

            svg {
                cursor: pointer;
            }

            @media (max-width: $mobile) {
                width: 24px;
                display: block;
                a {
                    margin: 0;
                }
                .search {
                    display: none;
                }

            }
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;

                li {
                    font-size: $p-regular;
                    margin-right: 47px;
                    position: relative;

                    a {
                        color: $black;
                        text-transform: none;
                        text-decoration: none;
                        font-family: $montserrat;
                        font-weight: $p-regular-weight;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        &::after {
                            content: '';
                            position: absolute;
                            top: 22px;
                            background-color: $seaFoam;
                            width: 100%;
                            height: 4px;
                            display: block;
                            border-radius: 16px;
                        }
                    }

                    .sub-menu {
                        display: none;

                        li {
                            margin-right: 0;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            padding: 6px 0 6px 0;
                            border-radius: 8px;

                            &:hover {
                                background-color: $mercury;
                            }

                            a {
                                font-size: $p-light;
                                font-weight: $p-ligth-weight;
                                color: $black;
                                align-items: center;
                            }
                        }
                    }
                }

                .menu-item-has-children {
                    &:hover {

                        .sub-menu {
                            display: block;
                            position: absolute;
                            height: fit-content;
                            width: 171px;
                            top: 32px;
                            display: block;
                            left: 50%;
                            transform: translate(-50%, 0);
                            border-radius: 0px 0px 16px 16px;
                            padding: 8px;
                            background-color: $white;

                            li {

                                &:hover {
                                    &::after {
                                        display: none;
                                    }
                                }
                            }

                            &::before {
                                content: '';
                                height: 15px;
                                width: 171px;
                                display: block;
                                position: absolute;
                                top: -15px;
                            }
                        }

                    }
                }
            }

            @media (max-width: $desktop) {
                display: none;
            }
        }
    }
}