.legal-categories {
    padding: 160px 40px 96px 40px;
    margin: 0 auto;
    max-width: 1400px;
    @media (max-width: $desktop) {
        max-width: 100%;
        padding: 160px 32px 96px 32px;
    }
    @media (max-width: $tablet) {
        padding: 152px 32px 96px 32px;
    }
    @media (max-width: $mobile) {
        padding: 144px 20px 64px 20px;
    }
    @media (max-width: $smaller-screen) {
        padding: 144px 16px 64px 16px;
    }

    .select-wrapper {
        width: 228px;
        margin: 0 auto;
    }
}