// Font Family

$montserrat: 'Montserrat';

// Font Sizes

$p-regular: 16px;
$p-regular-weight: 400;

$p-light: 15px;
$p-ligth-weight: 300;

$p-semibold: 13px;
$p-semibold-weight: 600;

$p-small: 10px;
$p-small-weight: 400;

$p-subheader: 18px;
$p-subheader-weight: 500;

// Colors

$seaFoam: #70B095;
$mercury: #D9E7E1;
$light-mercury: #F4F8F6;
$dark-accent: #ACBCB5;

$vineyard: #9B97BB;
$periwinkle: #DAD9E7;

$black: #000000;
$dark-gray: #666668;
$gray: #A9A9A9;
$light-gray: #F3F4F6;

$white: #FFFFFF;

// Breakpoints

$desktop: 1024px;
$tablet: 768px;
$mobile: 450px;
$smaller-screen: 320px;